{% extends 'publicLayout.html.twig' %}

{% block title %}Inscription PartHub{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col my-3">
            <div class="card">
                    <div class="card-body">
                        <h2>Inscrivez-vous sur PartHub</h2>
                    </div>
                <form action="" method="post">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><label for="lastname">Nom: </label><input type="text" name="lastname" id="lastname" > </li>
                        <li class="list-group-item"><label for="firstname">Prénom: </label><input type="text" name="firstname" id="firstname"> </li>
                        <li class="list-group-item"><label for="password">Mot de passe: </label><input type="password"name="password" id="password"></li>
                        <li class="list-group-item"><label for="password2">Mot de passe: </label><input type="password"name="password2" id="password2"> </li>
                        <li class="list-group-item"><input type="submit" id="send" name="send"value="Enregistrer"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
