{% extends 'publicLayout.html.twig' %}

{% block title %}Inscription PartHub{% endblock %}

{% block content %}
<div class="">
    <div class="">
        <div class="card"><h2>Inscrivez-vous sur PartHub</h2></div>
        <form action="" method="post">
            <ul>
                <li><label for="lastname">Nom: </label><input type="text" name="lastname" id="lastname" > </li>
                <li><label for="firstname">Prénom: </label><input type="text" name="firstname" id="firstname"> </li>
                <li><label for="password">Mot de passe: </label><input type="password"name="password" id="password"></li>
                <li><label for="password2">Mot de passe: </label><input type="password"name="password2" id="password2"> </li>
                <li><input type="submit" id="send" name="send"value="Enregistré"></li>
            </ul>
        </form>
    </div>
    </div>
{% endblock %}
