{% extends 'publicLayout.html.twig' %}

{% block title %}Bienvenue sur PartHub{% endblock %}
{% block content %}


<div class="d-flex align-items-center p-4">
    <div class="col">
<h1>Dashboard</h1>
        <p class="lh-base">This is a long paragraph written to show how the
            line-height of an element is affected by our utilities. Classes
            are applied to the element itself or sometimes the parent element.
            These classes can be customized as needed with our utility API.
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes</p>
</div>
    <div class="d-flex justify-content-center ms-auto p-2 bd-highlight">
        <img src="/assets/images/carre_rss.jpg" alt="carre" style="max-width: 30%">
    </div>
</div>

<div class="d-flex align-items-center bg-orange p-4 ">
    <div class="d-flex justify-content-center ms-auto p-2 bd-highlight">
        <img src="/assets/images/carre_rss.jpg" alt="carre" style="max-width: 30%">
    </div>
    <div class="col">
        <h1>Budget</h1>
        <p class="lh-base">This is a long paragraph written to show how the
            line-height of an element is affected by our utilities. Classes
            are applied to the element itself or sometimes the parent element.
            These classes can be customized as needed with our utility API.
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes</p>
    </div>
</div>

<div class="d-flex align-items-center p-4 bg-blue text-white">
    <div class="col">
        <h1>List</h1>
        <p class="lh-base">This is a long paragraph written to show how the
            line-height of an element is affected by our utilities. Classes
            are applied to the element itself or sometimes the parent element.
            These classes can be customized as needed with our utility API.
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes
            line-height of an element is affected by our utilities. Classes</p>
    </div>
    <div class="d-flex justify-content-center ms-auto p-2 bd-highlight">
        <img src="/assets/images/carre_rss.jpg" alt="carre" style="max-width: 30%">
    </div>
</div>




{% endblock %}
