{% extends 'publicLayout.html.twig' %}


{% block content %}
<div class="container-fluid d-flex  ">
<h1>Dashboard</h1>
    <p class="lh-sm">This is a long paragraph written to show how the line-height of
        an element is affected by our utilities. Classes are applied to the element
        itself or sometimes the parent element. These classes can be customized as needed with our utility API.</p>
    <div class="flex-shrink-0">
        <img src="/assets/images/carre_rss.jpg" alt="carre" style="max-width: 50%">
    </div>
</div>

<div class="container-fluid d-flex bg-yellow justify-content-center ">
    <div class="flex-shrink-0">
        <img src="/assets/images/carre_rss.jpg" alt="carre" style="max-width: 50%">
    </div>
    <h1>Budget</h1>
    <div class="container-fluid ">Novitates autem si spem adferunt,
        ut tamquam in herbis non fallacibus fructus appareat, non sunt
        illae quidem repudiandae, vetustas tamen suo loco conservanda;
        maxima est enim vis vetustatis et consuetudinis.consuevit.
    </div>

</div>

<div class="container-fluid d-flex bg-blue justify-content-center text-white ">

    <h1>List</h1>
    <div class="flex-grow-1 ms-3">Novitates autem si spem adferunt,
        ut tamquam in herbis non fallacibus fructus appareat, non sunt
        illae quidem repudiandae, vetustas tamen suo loco conservanda;
        maxima est enim vis vetustatis et consuetudinis.consuevit.
    </div>
    <div class="flex-shrink-0">
        <img src="/assets/images/carre_rss.jpg" alt="carre" style="max-width: 50%">
    </div>
</div>




{% endblock %}
