{% extends 'layout.html.twig' %}


{% block title %}Budget - {{ parent () }}{% endblock %}


{% block content %}

    <div class="d-flex justify-content-center">

    <img src="/assets/images/magloire.gif" class="rounded mx-auto my-5" alt="magloire">
    </div>

{% endblock %}

